.navbar-default{
	/*background-color: transparent;
	border-color: rgba(255, 255, 255, 0.3);*/
background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;}

body{

	/*font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;*/

	header{

	  
	  		background-image: url('../img/header.jpg');
			-webkit-background-size: cover;
			  -moz-background-size: cover;
			  background-size: cover;
			  -o-background-size: cover;
			  background-position: center;
			  width: 100%;
			  min-height: auto;

	 .myheader{

					/*position: relative;*/
	 			 	text-align: center;
	  				padding: 100px 50px 100px 50px;
	  				width: 100%;


	  				.myheader-content{
	  					/*padding:;*/
	  					max-width: 90%;
	  					margin:auto 10%;
	  					color: #fff;
	  							
	  							h1{

				  					font-size: 70px;
				  					font-weight: bold;
				  					text-transform: uppercase;
				  					margin-top: 0;
				  					margin-bottom: 0;
				  					/*width: 80%;*/
	  					

	  						}


  						hr{
  							
  							border-color: #f05f40;
							 border-width: 3px;
							 max-width: 50px;
							 margin:20px auto;
  							/*margin-right: 30px;*/
  						}

  						p{
  							font-size: 18px;
  							max-width: 80%;
  							margin:auto 10%;
  							color:rgba(255, 255, 255, 0.7);
  							font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  						}

  						a{
  							margin-top: 5%;


  						}
  						a.btn{
  								   -webkit-border-radius: 50px;
									-moz-border-radius: 50px;
									border-radius: 50px;
									background-color: #f05f40;
									font-size: 15px;
									font-weight: bold;
									color: #fff;
									text-transform: uppercase;
									padding: 15px 30px;
  							}


  				}

  				
				

 }

}

section.about-us{
	text-align: center;
	background-color: #f05f40;
	color: #fff;
	width: 100%;
	height: auto;
	padding: 100px 0;



	.about-us-content{

		/*margin-top: 80px;*/


		h2{
			/*font-weight: lighter;*/
			font-size: 30px;


		}

		hr{

			max-width: 50px;
			margin:20px auto;
			border-color: #fff;
			border-width: 3px;
		}

		p{
			color: rgba(255, 255, 255, 0.7);
			font-size: 16px;
		}

		 a.btn{
		 		color: #000;
		 		text-transform: uppercase;
		 		font-weight: bold;
		 		background-color: #fff;
		 		-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				border-radius: 50px;
				padding: 15px 30px;
				margin-top: 10px;
				margin-bottom: 30px;
		 }
	}
}

section.services{

			/*background-color: #00ff00;*/
			padding-top: 80px;
			padding-bottom: 80px;

	hr{

		max-width: 50px;
		/*margin: auto;*/
		margin-bottom: 20px;
		border-color: #f05f40;
		border-width: 3px;
	}

	.service-box{


		.fa-icon{ 
			font-size: 4em;
			color:  #f05f40;


		}

		p.muted-text{

			color: #777;
			font-size: 16px;
			line-height: 1.5em;
		}



	}



}


section.gallery{

	.no-pad{

		margin:0;
		padding: 0;
	}
}

}
/*body ends here*/